<div style="text-align:center;margin:10px auto;">
<h1>欢迎来到留言板查看留言</h1>
<form action="/posts" method="GET">
    请输入查询的id<br>
	<input type="text" name="find_id"><br><br>
	请输入查询的作者<br>
	<input type="text" name="find_author"><br><br>
	<input type="submit" name="submit" value="提交">
</form>
<form action="/" method="GET">
    <input type="submit" name="back" value="back">
</form>
<table border="1">
	<tr>
	  <th>留言ID</th>
	  <th>留言作者</th>
      <th>留言内容</th>
	  <th>留言时间</th>
	  <th>delete message</th>
	  <th>updated</th>
	</tr>
<%  len = @arr.length
	i = 0
    len.times{
%>
	<tr>
	  <td><%= @arr[len-i-1]['id'] %></td>
	  <td><%= @arr[len-i-1]['author'] %></td>
	  <td><%= @arr[len-i-1]['content'] %></td>
	  <td><%= @arr[len-i-1]['time'] %></td>
	  <td><form action="/delete/<%= @arr[len-i-1]["id"] %>" method="GET"><input type="submit" name="submit" value="delete"></form></td>
	  <td><form action="/modify/<%= @arr[len-i-1]["id"] %>" method="GET"><input type="submit" name="submit" value="updated"></td></form></td>
	</tr>
<%   
	i += 1 
    }
%>
</table>
</div>